

<div class="container mt-4">

  <h1 class="text-white text-center">Listing All Articles</h1>

  <div class="container text-center mt-4">
    <div class="row">
      <div class="col mx-auto">
        <% if logged_in? %>
          <%= link_to 'New Article', new_article_path, class: "btn-primary btn text-white" %>
        <% end%>
      </div>
    </div>
  </div>

<%= render '/shared/pageFilter' %>
<%= paginate @articles %> 
<%= render 'articles/articles' %>
