<!-- Container -->
<div class="container">

  <!-- Row -->
  <div class="row">

    <!-- Col -->
    <div class="col">

      <!-- Card -->
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <h4>About Us</h4>
            <hr class="bg-dark">
          </div>
          <div class="card-text">
            <p>We pride ourselves on delivering stunning memorable portraits for any occasion.
            We use state of the art photography equipment to get the perfect shot that perfectly
            encapsulates the moment. We have partnered with industry leaders like Canon, Sony, and Nokia,
            to bring you the best product we can make.</p> <br>
          </div>
        </div>
        <div class="card-body">
          <p><strong>Dont hesitate to contact us today! <strong></p>
          <%= link_to "Email Us", "#", class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  </div>
  
</div>