

<!-- Welcome -->
<div class="container-fluid ">

  <!-- Jumbotron Welcome Block-->
  <div class="bg-dark jumbotron jumbotron-welcome mt-3 text-right shadow-lg rounded">

    <!-- Content -->
    <h1 class="display-5 text-white" >Welcome</h1>
    <p class="lead text-white">
      A world leader in capturing lifes important moments.
    <p>
    <% if !logged_in? %>
      <hr class="my-2 bg-white hr-small">
      <p class="lead text-white">Login or Sign up to get started!</p>
    <% end %>
    <!-- Content -->

    <!-- Show if user not logged in  -->
    <% if !logged_in? %>
      <!-- Login/Singup Buttons -->
      <%= link_to 'Login', login_path, class: "btn btn-light mr-2 rounded shadow" %>
      <%=  link_to "Sign Up", signup_path, class: "btn btn-secondary shadow rounded text-white" %> 
      <!-- Login/Signup Buttons -->
    <% end %>
    

  </div>
  <!-- Jumbotron Welcome Block-->

</div>
  
<!-- Render Recent Posts -->
<% if Article.count > 0 %>
  <%= render 'recentPosts' %>
<% end %>

