<h1 class="text-white text-center">Categories</h1>



<div class="container mt-4">
  <%= paginate @categories_list %>
  <div class="d-flex flex-column">
    <% @categories_list.each do |category| %>

      <!-- Row -->
      <div class="row mt-4">

        <!-- Column -->
        <div class="col-3 d-flex flex-column mx-auto">

          <!-- Card -->
          <div class="card text-center">

            <!-- Card Body -->
            <div class="card-body">
              <h4 class="card-title"><%= link_to category.name, category_path(category) %> </h4>
              <p class="card-text"><%= pluralize(category.article.count, "article") %> </p>
            </div>
            <!-- Card Body -->

          </div>
          <!-- Card -->

        </div>
        <!-- Column -->

      </div>
      <!-- Row -->

    <% end %>
  </div>
</div>
<!-- Container -->