<!-- Footer -->
	<footer id="sticky-footer" class="font-weight-light text-white bg-dark mt-4 pt-4 shadow-lg rounded">

		<!-- Footer Links -->
		<div class="container-fluid text-center text-md-left">

			<!-- Grid Row -->
			<div class="row">

				<!-- Grid Column -->
				<div class="col-md-6 mt-md-0 mt-3">

					<!-- Content -->
					<h5 class="text-uppercase text-white">Portraits</h5>
					<p class="text-white font-weight-lighter">Capturing every day moments is just a click away</p>
					
				</div>
				<!-- Grid Column -->
				
				<hr class="clearfix w-100 d-md-none pb-3">

				<!-- Grid Column -->
				<div class="col-md-3 mb-md-0 mb-3">

					<!-- Links -->
					<h5 class="text-uppercase">Site</h5>

					<ul class="list-unstyled">
						<li class="text-weight-lighter">
							<a class="text-white" href="#" >Home</a>
						</li>
						<li class="text-weight-lighter">
							<a class="text-white"  href="#" >Articles</a>
						</li>
						<li class="text-weight-lighter ">
							<a class="text-white" href="#" >About</a>
						</li>
					</ul>
				</div>
				<!-- Grid Column -->

				<!-- Grid Column -->
				<div class="col-md-3 mb-md-0 mb-3">
					<h5 class="text-uppercase">Account</h5>
					<ul class="list-unstyled">
						<li class="text-weight-lighter">
							<a class="text-white" href="#">Login</a>
						</li>
						<li class="text-weight-lighter">
							<a class="text-white" href="#">Sign Up</a>
						</li>
					</ul>
				</div>
				<!-- Grid Column -->

			</div>
			<!-- Grid Row -->

		</div>
		<!-- Footer Links -->

		<!-- Copyright -->
		<div class="footer-copyright text-center py-3">© 2020 Copyright:
			<a class="text-muted" href="#">EMDesigns</a>
		</div>
		<!-- Copyright -->

	</footer>
	<!-- Footer -->